.mobile-nav-vi {
  display: none;
  border: 2px solid #000;
  margin-top: 1rem;
}
.mobile-nav-vi__toggle {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1rem;
  display: none;
}
.mobile-nav-vi__toggle span {
  display: block;
  height: 0.5rem;
  width: 3rem;
  margin: 0.13rem auto;
  flex-shrink: 0;
  background-color: #000;
  transition: 0.25s;
}
.menu__is-show .mobile-nav-vi__toggle span {
  opacity: 0;
}
.menu__is-show .mobile-nav-vi__toggle span:first-child {
  opacity: 1;
  transform: rotate(45deg);
  position: absolute;
  top: 14px;
}
.menu__is-show .mobile-nav-vi__toggle span:last-child {
  opacity: 1;
  transform: rotate(-45deg);
  position: absolute;
  top: 14px;
}
.mobile-menu-vi {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.mobile-menu-vi__item {
  padding: 0.3rem 0.5rem;
}
.mobile-menu-vi__next-link {
  display: none;
}
.mobile-submenu-vi {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.mobile-submenu-vi__link {
  font-size: 0.9rem;
}
.mobile-submenu-vi__item {
  margin-top: 0.1rem;
}
.mobile-submenu-vi__item:first-of-type {
  margin-top: 0;
}
#VI.color-black .mobile-nav-vi__toggle span {
  background-color: #fff ;
}
@media screen and (max-width: 1023px) {
  .mobile-nav-vi__toggle {
    display: flex;
  }
}
