.hero {
  height: 0;
  padding-bottom: 15%;
  background-position: center;
  background-size: cover;
  margin-left: -20px;
  margin-right: -20px;
}
.hero-slider {
  margin-bottom: 30px;
  margin-left: -20px;
  margin-right: -20px;
  overflow: hidden;
}
.hero-slider__item {
  display: none;
}
.hero-slider__item:first-child {
  display: block;
}
.hero-slider__image {
  height: 0;
  padding-bottom: 30%;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1024px) {
  .hero {
    margin-bottom: 30px;
    margin-right: -30px;
    margin-left: -30px;
  }
  .hero-slider {
    margin-right: -30px;
    margin-left: -30px;
  }
}
